{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "cwd": "babelrc",
        "alias": {
            "app": "./src",
            "assets": "./assets",
            "shared": "./shared",
            "nb-theme": "./native-base-theme",
        }
    }]
  ]
}
