{
  "presets": ["babel-preset-react-native"],
  "plugins": [
    ["module-resolver", {
        "root": ["./src"],
        "alias": {
            "app": "./src",
            "assets": "./assets",
            "shared": "./shared",
            "nb-theme": "./native-base-theme",
        }
    }]
  ]
}
